language: bash
sudo: false

before_install:
  - echo "before_install"

install:
  - echo "install"

before_script:
  - echo 'before_script'
  - curl --silent --output terraform.zip https://releases.hashicorp.com/terraform/0.11.2/terraform_0.11.2_linux_amd64.zip
  - sha256sum terraform.zip  | grep "f728fa73ff2a4c4235a28de4019802531758c7c090b6ca4c024d48063ab8537b" -q
  - unzip terraform.zip ; rm -f terraform.zip; chmod +x terraform
  - mkdir -p ${HOME}/bin ; export PATH=${PATH}:${HOME}/bin; mv terraform ${HOME}/bin/
  - terraform -v

script:
  - echo 'script'
  - terraform init
  - terraform fmt -check=true
  - terraform validate -var "region=${AWS_REGION}" -var "Name=testlxinstance" -var "AmiId=ami-1c8ee466" -var "AmiDistro=CentOS"

